.trailfinder {
  padding: 10px;

  &[data-selection-pattern*="("] .trailfinder__prompt {
    display: none;
  }

  .option-field-set {
    --display: flex;
    display: none;
    flex-direction: column;
    border-radius: 10px;

    &.option-field-set--complete {
      display: none !important;

      & + .option-field-set,
      & + .trails {
        display: var(--display);
      }
    }

    &:first-of-type {
      & .option-field-set__button-previous {
        display: none;
      }

      &:not(.option-field-set--complete) {
        display: var(--display);
      }
    }

    .option-input__checkbox {
      display: none;

      &:checked + .option-input__label {
        background-color: #0002;
      }
    }

    &__input-area {
      margin-bottom: 10px;
    }

    .option-input__label {
      display: flex;
      flex-direction: column;
      padding: 10px;
      min-height: 4em;
      border: 2px solid black;
      border-radius: 10px;
      grid-row-start: 1;
      justify-content: center;
      align-items: center;
      text-align: center;

      &.option-input__label--hidden {
        display: none;
      }
    }

    hr {
      border-color: white;
      width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }

  }

  .generic-row-of-elements {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 10px;

    & > * {
      grid-row-start: 1;
    }
  }

  .trails {
    --display: grid;
    grid-gap: 10px;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;

    .find-page__button-area {
      position: absolute;
      bottom: -50px;
      left: 10px;
      right: 10px;
      padding-top: 10px;
      display: grid;
      grid-auto-columns: 1fr;
      grid-gap: 10px;

      & > * {
        grid-row-start: 1;
      }
    }

    .hike-tile {
      display: block;
      border: 2px solid black;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 50px;
        height: auto;
      }

      &:not(.hike-tile--visible) {
        display: none;
      }

      background-image: var(--background);
      background-size: cover;
      border-radius: var(--roundness);
      height: 400px;
      width: 300px;
      position: relative;

      &__text {
        position: absolute;
        border-radius: 10px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #FFF9;
        padding: 10px;
        padding-top: 0;
        text-align: center;
        transition: opacity 1s ease;
      }

      &:hover .hike-tile__text {
        opacity: 0;
      }
    }
  }
}
