h3 {
  grid-column-end: span 12;
  height: auto;
}

label {
  display: block;
  padding: 50px;
  border: 2px solid black;
  grid-column-end: span 4;
}

input[type=checkbox]:checked + label {
  background-color: #0002;
}

input[type=checkbox] {
  display: none;
}

.hike-tile {
  display: block;
  border: 2px solid black;
  grid-column-end: span 4;

  img {
    width: 50px;
    height: auto;
  }

  &:not(.hike-tile--visible) {
    display: none;
  }
}


.option-field-set:first-of-type .option-field-set__button-previous {
  display: none;
}

.option-field-set {
  display: none;
}

.option-field-set:first-of-type:not(.option-field-set--complete) {
  display: block;
}

.option-field-set.option-field-set--complete + .option-field-set {
  display: block;
}

.option-field-set.option-field-set--complete {
  display: none !important;
}

.trailfinder {
  .trails {
    display: none;
  }

  .option-field-set--complete + .trails {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
  }
}

label.label--hidden {
  display: none;
}
