.main-page {
  #map:not(.google-maps-api-loaded) {
    display: none;
  }

  /* Map Tab */
  #map-tab:target ~ .main ,
  #map-tab:not(:target) ~ #list-tab:not(:target) ~ .main {
    position: fixed;
    height: calc(var(--vh, 1vh) * 100);
    width: calc(100vw - 20px);
    top: 0;
    left: 0;
    padding-left: var(--roundness);
    padding-right: var(--roundness);

    nav {
      flex: 1;
      margin-left: 0;
      margin-right: 0;
    }

    .hike-tiles  {
      display: none;
    }

    #map {
      height: calc((var(--vh, 1vh) * 100) - var(--roundness) - var(--header-height));
      width: 100%;
      border-radius: var(--roundness);
      margin-bottom: var(--roundness);
    }
  }

  /* List Tab */
  #list-tab:target ~ .main {
    #map {
      display: none;
    }
  }

  .hike-tiles {
    margin: var(--roundness);
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: var(--roundness);
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  .hike-tile {
    display: flex;
    border-radius: var(--roundness);
    background-color: #0003;
  }
  .hike-tile:hover {
    background-color: #0006;
  }
  .hike-tile__left-side {
    flex: 1;
    flex-grow: 1;
    background-color: #FFF1;
    padding: var(--roundness);
    border-top-left-radius: var(--roundness);
    border-bottom-left-radius: var(--roundness);
  }
  .hike-tile__right-side {
    flex: 1;
    flex-grow: 1;
    padding: var(--roundness);
  }
  .hike-tile__text {
    position: relative;
    font-family: 'National Park';
  }
  .hike-tile__text a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .hike-tile__text a:hover {
    color: #FCFCFFCC;
  }
  .hike-tile__text__name {
    font-weight: bold;
  }
  .hike-tile__text__area {
    font-size: 0.9em;
  }

  .trailhead-map-marker-detail {
    background-image: var(--background);
    height: 300px;
    border-radius: var(--roundness);
  }
  .trailhead-map-marker-detail__text {
    background-color: #FFF9;
    padding: var(--roundness);
    padding-top: 0;
  }
}
