@media not all and (min-resolution:.001dpcm) { @media {
  /* Safari has a problematic (but technically correct) implementation of img height */
  /* Explanation: https://stackoverflow.com/a/44773109/3012550 */
  .hike-page .image-gallery > * {
    --grid-width: calc(100vw - 20px);
    --column-width: calc(var(--grid-width) / 12);
    height: calc((var(--column-width) + 20px) * var(--height));
    object-fit: cover;
  }
}}
